{{#section 'stylesheets'}}
<link rel = "stylesheet" type = "text/css" href = "./css/main.css">
<link rel = "stylesheet" type = "text/css" href = "./css/font-awesome.min.css">
{{/section}}

<div class = "divHeader">
	<i class = "fa fa-youtube-square"></i><span class = "text">Downloader</span>
</div>

<div class = "divBody">
	<div class = "divForm">
		<form action = "#" method = "POST">
			<input type = "text" placeholder = "Video Link here" name = "link"><input type = "submit" value = "Search">
		</form>
	</div>
</div>