{{#section 'stylesheets'}}
<link rel = "stylesheet" type = "text/css" href = "./css/main.css">
<link rel = "stylesheet" type = "text/css" href = "./css/responsiveMain.css">
<link rel = "stylesheet" type = "text/css" href = "./css/waitingBar.css">
<link rel = "stylesheet" type = "text/css" href = "./css/font-awesome.min.css">
{{/section}}

<div class = "divHeader">
	<i class = "fa fa-youtube-square"></i><span class = "text">Downloader</span>
</div>

<div class = "divBody">
	<div class = "divForm">
		<form action = "#" method = "POST" name = "searchVid">
			<input type = "text" placeholder = "Video Link here..." name = "link"><input type = "submit" value = "Search">
		</form>
	</div>
	<div class = "divMainVideo">
		<div class = "unloaded present">
			<div class = "waitingBar">
				<div class = "circle"></div>
				<div class = "circle"></div>
				<div class = "circle"></div>
				<div class = "circle"></div>
			</div>
		</div>
		<div class = "videoImage"><img src = "" class = "image"></div>
		<div class = "videoDetail">
			<div class = "videoTitle"> Rustom - Trailer </div>
			<div class = "basicDetails">
				<div class = "views">
					<i class = "fa fa-youtube-play"></i><span class = "noViews"></span>
				</div>
			</div>
			<div class = "divDownload">
			</div>
		</div>
	</div>
	<div class = "divTrending">

	</div>
</div>

{{#section 'js'}}
<script src = "./js/waiting.js"></script>
<script src = "./js/getDetails.js"></script>
{{/section}}